<div class="d-flex flex-column align-content-between" style="height: 100%;">
  <div class="flex-fill" style="overflow-y: auto;">
    <div style="height: 100%;">
      <div class="d-flex flex-row" style="height: 100%; width: 100%;">
      <!-- 導覽 -->
      <div class="col-lg-2 col-md-3  bg-secondary-dark px-5 px-md-3 " v-if="!tallmode">
        <nav class="navbar-brand mt-5 text-white d-flex align-items-center mb-5">
          <i class="material-icons mr-2">headset</i>MusicBox
          <i class="material-icons ml-2" v-if="tallmode">smartphone</i>
          <i class="material-icons ml-2" v-else="">laptop</i>
        </nav>
        <div class="d-flex flex-column justify-content-between py-3" style="height: calc(90vh - 200px)">
          <ul class="list-group">
            <li class="text-left  mb-2">
              <a class="text-secondary" @click="navbar='Home'" :class="{'text-success':navbar==='Home'}">
                <i class="material-icons">home</i>
                Home
              </a>
            </li>
            <li class="text-left mb-2">
              <a class="text-secondary" @click="navbar='Playlist',playListStatus='OVERVIEW'"
                :class="{'text-success':navbar==='Playlist'}">
                <i class="material-icons">list</i>
                Playlist
                <i class="fas fa-spinner fa-spin ml-2" v-if="listloading"></i>
              </a>
            </li>
            <li class="text-left mb-2">
              <a class="text-secondary" @click="navbar='Search'" :class="{'text-success':navbar==='Search'}">
                <i class="material-icons">search</i>
                Search
              </a>
            </li>
            <li class="text-left mb-2">
              <a class="text-secondary" @click="backup">
                <i class="material-icons">add_to_drive</i>
                Backup
                <i class="fas fa-spinner fa-spin ml-2" v-if="backuping"></i>
              </a>
            </li>
          </ul>
          <ul class="list-group">
            <hr class="border-secondary w-100" style="opacity:0.2">
            <li class="text-left mb-2">
              <div class="d-flex align-items-center">
                <!--<img :src="`${publicPath}jpg/background2.jpg`" alt="" style="width:30px;height:30px" class="img-cover rounded-circle">-->
                <a class="ml-2 text-muted">F2E Developer</a>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <!-- 中間 -->
      <div class="col-lg-10 col-md-9 playlist">
        <!-- home -->
        <AlbumList :playList="playList" :typeList="typeList" @selectSinger="selectSinger" v-if="navbar==='Home'">
        </AlbumList>
        <!-- PlayList -->
        <template v-if="navbar==='Playlist'">
          <div class="row" @click="checkPopovers($event)">
            <div
              class="w-100 text-left py-5 d-flex flex-column align-items-between justify-content-center m-auto img-cover img-shadow"
              :style="`background-image: url(${currentBackGround})`">
              <div class="pt-4 m-auto" style="z-index:1">
                <!--
                <div v-for="item in sameTypeList">
                  <div class="text-center text-success" v-if="item.singer===currentSinger && musicType!=='Daily Mix'"><small
                      class>{{item.followers}}
                      FOLLOWERS </small>
                  </div>
                </div>-->
                <h3 class="display-2 font-weight-bold text-white pt-3 pb-3 text-center" v-if="musicType==='Daily Mix'">
                  Daily Mix
                </h3>
                <h3 class="display-2 font-weight-bold text-white pt-3 pb-3 text-center" v-else="musicType!=='Daily Mix'">
                  {{currentSinger}}</h3>

                <!--
                <div class="d-flex align-items-center justify-content-center pb-3">
                  <button class="btn btn-success mx-2"
                    @click="togglePlay"><small>{{!isPlay?"PLAY":"PAUSED"}}</small></button>
                  <div v-for="item in sameTypeList" :key="item.singer">
                    <PlayListFollowerBtn :item="item" @followHandler="followHandler(item)"
                      v-if="item.singer===currentSinger && musicType!=='Daily Mix'">
                    </PlayListFollowerBtn>
                  </div>
                </div>-->
              </div>
            </div>
            <div class="col-md-8 m-auto" id="list-container">
              <ul class="d-flex justify-content-center pl-0">
                <li class="">
                  <a class="text-secondary mx-md-4"
                    :class="{'border-bottom border-success':playListStatus==='OVERVIEW'}"
                    @click="playListStatus='OVERVIEW'"><small>OVERVIEW</small></a>
                </li>
                <!--<li class="">
                  <a class="text-secondary mx-md-4 text-underline"
                    :class="{'border-bottom border-success':playListStatus==='RELATED'}"
                    @click="playListStatus='RELATED'"><small>RELATED
                      ARTIST</small></a>
                </li>-->
                <li class="">
                  <a class="text-secondary mx-md-4 text-underline"
                    :class="{'border-bottom border-success':playListStatus==='ABOUT'}"
                    @click="playListStatus='ABOUT'"><small>ABOUT</small></a>
                </li>
              </ul>
              <!-- OVERVIEW -->
              <div v-if="playListStatus==='OVERVIEW'">
                <!-- PlayList -->
                <PlayList ref="playlist" :playList="playList" :playlist_datas="playlist_datas" :player="this.$refs.player" :name="'main'" :p2a="playlist2attach" @update_p2a="playlist2attach = $event" :init="init"></PlayList>
                <div class="text-secondary text-left px-3 pt-3 pb-5 d-flex flex-column">
                  <small>若音樂無法正常收聽，請至 Youtube 撥放。</small>
                  <small>{{copyright}}</small>
                </div>
              </div>
              <!-- RELATED -->
              <!--<div class="list-group pt-4" v-if="playListStatus==='RELATED'">
                <div class="row">
                  <div class="col-md-6 col-lg-4 mb-4" v-for="(item,index) in sameTypeList" :key="item.singer">
                    <RelatedItem 
                    :item="item"
                    :index="index"
                    :musicType="musicType"
                    @selectSinger="selectSinger"
                    ></RelatedItem>-->
                    <!-- <div class="d-flex flex-column
                                       justify-content-center align-items-center">
                      <div class="img-singer-thumb img-cover rounded-circle"
                        :style="`background-image: url(${publicPath}${item.backgroundImg})`" @click="selectSinger({item,index})">
                      </div>
                      <small class="text-white mt-3" v-if="musicType!=='Daily Mix'">{{item.singer}}</small>
                      <small class="text-white mt-3" v-else>Daily Mix</small>
                    </div> -->
                  <!--</div>
                </div>
              </div>-->
              <!-- ABOUT -->
              <div class="list-group pt-4" v-if="playListStatus==='ABOUT'">
                <h5 class="text-white">The F2E - 前端修練精神時光屋 第三關 - MP3 Player</h5>
                <small class="text-secondary">使用套件 VueYoutube 串流 Youtube 音源，The F2E 練習作品，無商業用途。</small>
              </div>
            </div>
          </div>
        </template>
        <Search :playList="playList" :playlist_datas="playlist_datas" :player="this.$refs.player" :p2a="playlist2attach" @update_p2a="playlist2attach = $event" @selectSinger="selectSinger" :init="init" v-if="navbar==='Search'">
        </Search>
      </div>
    </div>
  </div>
  </div>
  <ModalAddUser />
<footer>
  <Player ref="player" :playList="playList" :playlist_datas="playlist_datas" :playlist2attach="playlist2attach"></Player>
  <div v-if="tallmode" class="d-flex flex-row justify-content-around bg-secondary-dark">
    <div class="text-left mb-2 mt-2">
      <span class="text-secondary" @click="navbar='Home'" :class="{'text-success':navbar==='Home'}">
        <i class="material-icons md-36">home</i>
      </span>
    </div>
    <div class="text-left mb-2 mt-2">
      <a class="text-secondary" @click="navbar='Playlist',playListStatus='OVERVIEW'"
        :class="{'text-success':navbar==='Playlist'}">
        <i class="material-icons md-36">list</i>
      </a>
    </div>
    <div class="text-left mb-2 mt-2">
      <a class="text-secondary" @click="navbar='Search'" :class="{'text-success':navbar==='Search'}">
        <i class="material-icons md-36">search</i>
      </a>
    </div>
    <div class="text-left mb-2 mt-2">
      <a class="text-secondary" @click="backup">
        <i class="material-icons md-36">add_to_drive</i>
        <i class="fas fa-spinner fa-spin ml-2" v-if="backuping"></i>
      </a>
    </div>
  </div>
</footer>
</div>
